.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .photo-grid__list {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 8px;
    column-gap: 12px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 9px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__list {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
