.lead__image {
  margin: 0 auto 5px;
  object-fit: cover;
  width: 100%;
  max-width: 984px;
}

@media screen and (max-width: 1023px) {
  .lead__image {
   max-height: 768px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
   max-height: 500px;
  }
}

@media screen and (max-width: 512px) {
  .lead__image {
    max-height: 200px;
    margin-bottom: 8px;
   }
}
