.cover__background {
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 740px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  text-decoration: none;
  z-index: 1;
}

@media screen and (max-width: 1279px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    min-height: 200px;
  }
}

.cover__background:before {
  content: '';
  display: block;
  position: absolute;
  background: #2a2c2f;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  opacity: .3;
  transition: opacity 1.5s linear;
  z-index: -1;
}

.cover__background:hover::before {
  opacity: .8;
}
