.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05em;
  margin: 0 auto;
  position: relative;
  max-width: 720px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09em;
  }
}
