.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07em;
  margin-bottom: 40px;
  margin-top: 0;
}

@media screen and (max-width: 1023px) {
  .intro__title {
    font-size: 54px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09em;
  }
}
